APP_PORT=8080

DB_HOST=localhost
REDIS_PORT=6379

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER_NAME="Kopi-Popi System"

DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=

JWT_SECRET=